<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Subnets</key>
	<array>
		<dict>
			<key>_creator</key>
			<string>com.apple.NetworkSharing</string>
			<key>allocate</key>
			<true/>
			<key>dhcp_domain_name_server</key>
			<array>
				<string>192.168.2.1</string>
				<string>4.4.4.4</string>
				<string>8.8.8.8</string>
			</array>
			<key>dhcp_router</key>
			<string>192.168.0.1</string>
			<key>interface</key>
			<string>en2</string>
			<key>lease_max</key>
			<integer>86400</integer>
			<key>lease_min</key>
			<integer>86400</integer>
			<key>name</key>
			<string>192.168.0/24</string>
			<key>net_address</key>
			<string>192.168.0.0</string>
			<key>net_mask</key>
			<string>255.255.255.0</string>
			<key>net_range</key>
			<array>
				<string>192.168.0.200</string>
				<string>192.168.0.254</string>
			</array>
			<key>dhcp_option_66</key>
			<string>192.168.2.1</string>
			<key>dhcp_option_67</key>
			<data>bHB4ZWxpbnV4LjAA</data>
		</dict>
	</array>
	<key>bootp_enabled</key>
	<true/>
	<key>dhcp_enabled</key>
	<array>
		<string>en2</string>
	</array>
	<key>dhcp_ignore_client_identifier</key>
	<true/>
	<key>ignore_allow_deny</key>
	<array>
		<string>en2</string>
	</array>
	<key>use_server_config_for_dhcp_options</key>
	<true/>
</dict>
</plist>
